:root {
  --main-color: #2e2f42;
  --text-color: #434455;
  --white-color: #ffffff;
  --accent-color: #4d5ae5;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  font-size: 16px;
}
.list {
  list-style: none;
}
a {
  text-decoration: none;
}
/* ================== COMPONENTS ================== */
.web {
  color: var(--accent-color);
}
.logotype {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
.logotype-footer {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
}
/* ================== /COMPONENTS ================== */

/* ==================HEADER================== */
.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contact-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
/* ================== /HEADER ================== */
.hero {
  background: var(--main-color);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.studio-button {
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--accent-color);
  cursor: pointer;
}
.studio-button:hover,
.studio-button:focus {
  background-color: #404bbf;
}
.team {
  background: #f4f4fd;
}
.team-list-item {
  background: var(--white-color);
}
.footer {
  background: var(--main-color);
}
.footer-contacts {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.filter-button {
  background: #f4f4fd;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  background: #404bbf;
  color: #ffffff;
}
